.authForm-container {
    display: flex;
    text-align: center;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(79deg, #fcfced, #fcedfc, 48%, #ebf6ff);
    flex-direction: column;
}

.signup-login {
    display: flex;
    flex-direction: column;


}

label {
    text-align: left;
    padding: 0.25rem 0;
}
input {
    margin: 0.5rem 0;
}
button {
    border: none;
    background-color: white;
}